#struclist {
/*  background-color: cyan;*/
  float: left;
}
#elementlist {
/*  background-color: yellow;*/
  float: left;
}
#canvas_container {
  float: left;
  width: 100%;
  background-color: aliceblue;
}
.scroll_lists {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}
.no-bullets {
  font-family: monospace, serif;
  list-style: none;
  padding-left: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a.selected {
  color: white;
}

.container {
  display: flex;
}

.fills-remaining-width {
  flex-grow: 1;
}

li {
  font-family: monospace, serif;
  color: black;
  background-color: #eee;
}

li.selected {
  color: white;
  background-color: darkblue;
} 

.customList1 .nav-list-vivid>li>a {
    border-bottom: 1px solid #dedede
}

.customList1 .nav-list-vivid>li>a:hover {
    background-color: #1abc9c;
    color: #fff
}

